.header {
  margin: 80px auto 30px 0px;
  letter-spacing: -0.5px;
}

.title {
  font-weight: 800;
  font-size: 100px;
  margin: 0px;
}

@media (max-width: 480px) {
  .title {
    font-size: 80px;
  }
}

.subtitle {
  font-weight: 800;
  font-size: 30px;
  color: hsl(0, 0%, 30%);
}

.entry {
  color: rgb(97, 211, 126);
}

.btns {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
}